#dates {
    width: 100%;
    height: auto;
    background-color: #fff4e6;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-top: 5rem;
    padding-bottom: 7rem;
}

.names {
    padding: 0rem 2rem;
    width: 40%;
    font-size: 1.6rem;
}

.names .blue {
    color: #079BD8;

}

.names h2 {
    position: relative;
    padding-top: 2rem;
    width: 100%;
}

.names h2::after {
    content: "";
    position: absolute;
    width: 16%;
    height: 4px;
    border-radius: 3rem;
    background-color: #079BD8;
    bottom: 0%;
    left: 0%;
}

.des {
    width: 50%;

}

/*=================== Media QUERIESE(MEDIUM DEVICES) =========*/
@media screen and (max-width:1024px) {}

/*=================== Media QUERIESE(SMALL DEVICES) =========*/
@media screen and (max-width:600px) {
    .names {
        padding: 0rem 1rem;
        width: 100%;
        font-size: 1rem;
    }

    #dates {
        width: 100%;
        height: auto;
        background-color: #fff4e6;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 5rem;
        padding-bottom: 7rem;
    }

    .des {
        width: 100%;

    }
}