footer {
    background-color: #2c3e50;
    color: #fff;
    width: 100%;
    position: relative;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;
    align-items: flex-end;
    text-align: center;
    padding: 2rem;

}

.foterList ul {
    padding-left: 5rem;
    list-style: none;
}

.foterList ul li {
    padding: 0.2rem;
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    width: fit-content;
}

li::after {
    content: "";
    bottom: 0%;
    height: 1px;
    width: 0%;
    right: 0%;
    left: 0%;
    opacity: 0;
    background-color: #fff;
    position: absolute;
    transition: all 0.4s ease;

}

.foterList ul li:hover::after {
    width: 100%;
    opacity: 1;

}

.adress {
    font-size: 1.1rem;
    line-height: 2rem;
}

.social {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.social a {
    color: #fff;
    font-size: 1.2rem;
}

.copy {
    padding-bottom: 2rem;
    padding-left: 4rem;
}


.ic {
    width: 75%;
    margin-top: 1rem;

}

.ic img {
    width: 40%;

}



.upArrow {
    position: absolute;
    font-size: 4rem;
    bottom: 10%;
    right: 7%;
    cursor: pointer;
    transition: all 0.3s ease;

}

.upArrow:hover {
    color: #3aa78c;
}

/*=================== Media QUERIESE(SMALL DEVICES) =========*/
@media screen and (max-width:600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 3rem;

    }

    .copy {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
    }

    .copy h3 {
        padding-right: 0rem;
    }

    .foterList ul {
        padding: 0;
    }

    .foterList ul li {
        padding: 0.6rem;
        text-align: center;
        font-size: 1.2rem;

        display: block;
        position: relative;
        cursor: pointer;
        width: 100%;
    }

    .ic {
        width: 50%;
        margin-top: 0rem;
        margin-left: 5rem;


    }

    .ic img {
        width: 100%;

    }

    .upArrow {
        display: none;

    }
}